/* .header {
  height: 50px;
  display: flex;
  background-color: black;
  padding-top: 20px;
  justify-content: space-around;
  position: sticky;
}
.headerLogo {
  object-fit: contain;
  width: 90px;
  padding: 5px;
}
.headerLogo:hover {
  border: 1px solid white;
}
.headerSearch {
  display: flex;
  align-items: center;
  border-radius: 24px;
}
.textInput {
  height: 11px;
  padding: 10px;
  border: none;
  width: 700px;
}
.searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: orange;
}

.searchIcon {
  background-color: orange;
  padding: 5px;
}
.headerNavButtons {
  background-color: black;
  border: none;
  height: 45px;
}

.headerNavButtons:hover {
  border: 1px solid white;
}
.headerOptionLineOne {
  font-size: 10px;
  color: white;
}
.headerOptionLineTwo {
  font-size: 14px;
  font-weight: 800;
  color: white;
}
.carts {
  color: white;
  height: 40px !important;
  display: flex;
  padding-top: 10px;
}
.cartUpdate {
  color: white;
  font-size: 25px;
} */

.header_logo {
  width: 100px;
  object-fit: contain;
  margin-top: 18px;
  margin: 0 20px;
}
.header {
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: rgb(9, 8, 8);
  position: sticky;
  top: 0;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchInput {
  height: 11px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_clearLink {
  text-decoration: none;
}
